version: "3.9"

services:

  mysql:
    image: mysql:8.0
    container_name: inv_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 10


  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: inv_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: inv_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: inv_kafka_ui
    depends_on:
      - kafka
    ports:
      - "8089:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092


  keycloak:
    image: quay.io/keycloak/keycloak:25.0.6
    container_name: inv_keycloak
    command: ["start-dev", "--http-port=8080"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8088:8080"


  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: api_gateway
    container_name: inv_api_gateway
    depends_on:
      - keycloak
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker

  product-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: product-service
    container_name: inv_product_service
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      keycloak:
        condition: service_started
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker

  inventory-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: inventory_service
    container_name: inv_inventory_service
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker

  order-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: order_service
    container_name: inv_order_service
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      keycloak:
        condition: service_started
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: docker

  notification-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: notification_service
    container_name: inv_notification_service
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      keycloak:
        condition: service_started
    ports:
      - "8085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  mysql_data:
